* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --secMargine-margin-bottom:100px;
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;

}
.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}
#logo{
  font-size: 35px;
  font-weight: 600;
  font-family: 'Cabin', sans-serif;
  position: relative;
  z-index: 1;
  opacity: .6;
  cursor: pointer;
  transition: .3s;
  color: white;
  padding-left: 10px;

}
#logo:hover{
  opacity: 1;
}
#logo::before{
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
  border-width: 0px 20px 8px 0px;
  z-index: -1;
}

#logo::after{
  content: "";
  position: absolute;
  top: 16px;
  left: 0px;
  border-style: solid;
  border-color: transparent red transparent transparent;
  border-width: 0px 15px 7px 0px;
  z-index: -1;
}

.text-hiegh h2 {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
  position: relative;
  text-transform: uppercase;
}
.text-hiegh h2::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -33px;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.text-hiegh h2::before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 30px;
  height: 2px;
  bottom: -25px;
  background-color: #333;
  width: 120px;
}
.text-hiegh p {
  text-align: center;
  line-height: 2;
  color: #777;
  width: 100%;
  margin: 50px 0 70px;
}
/* Start-Header */
header,
header div,
header ul {
  display: flex ;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header {
  position: absolute;
  top: 0;
  left: calc(15% / 2);
  width: 85%;
  z-index: 2;
  border-bottom: 1px solid white;
  padding: 25px 0px;
}

.last-a {
  padding-right: 25px;
}
.first-a {
  color: var(--main-color);
  border-bottom: 1px solid #19c8fa;
}
nav #nav-bar{
  display: none;
  padding-left: 10px;
  font-size: 20px;
  font-weight: 900;
  color: white;
  margin-right: 15px;
  cursor: pointer;
}
nav a {
  text-decoration: none;
  padding: 34px 10px;
  color: white;
}
nav li {
  list-style: none;
}
header #search {
  padding-left: 10px;
  border-left: 1px solid white;
  font-size: 20px;
  font-weight: 900;
  color: white;
}
nav li a:hover {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
}
/* End-Header */
/* Start-sec-1 */
.sec-1 {
  background-image: url(imgs/landing.jpg);
  background-size: cover;
  background-color: brown;
  min-height: 100vh;
  width: 100%;
  color: white;
  position: relative;
  margin-bottom: var(--secMargine-margin-bottom);
}
.over-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 /50%);
  z-index: 1;
}
.sec-1 .text-show {
  background-color: var(--transparent-color);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  height: auto;
  padding: 40px calc(15% / 2) 20px;
  z-index: 1;
  line-height: 1.6;
}
.sec-1 .text-show h2 {
  font-size: 32px;
  font-weight: normal;
  margin-bottom: 10px;
}
#left-arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(5% / 2);
  font-size: 32px;
  font-weight: 800;
}
#right-arrow {
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(5% / 2);
  font-size: 32px;
  font-weight: 800;
}
.sec-1 ul {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  z-index: 2;
  display: flex;
  flex-direction: row;
}
.sec-1 li {
  list-style: none;
  margin-left: 20px;
  border-radius: 50%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
}
.sec-1 .li-center {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* End-sec-1 */
/* Start-sec-2 */
.sec-2 {
  margin-bottom: var(--secMargine-margin-bottom);
}
.sec-2 .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-row-gap: 60px;
  grid-column-gap: 40px;
}
.sec-2 .container div {
  display: flex;
  flex-direction: row;
}
.sec-2 .container .text {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  line-height: 1.6;
}
.sec-2 .container .text h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
/* End-sec-2 */
/* Stert-sec-3 */
.sec-3{
  background-image: url(imgs/design-features.jpg);
  background-size: cover;
  position: relative;
  width: 100%;
  height: 95vh;
  margin-bottom: var(--secMargine-margin-bottom);
}
.sec-3::before{
  content: "";
  position: absolute;
   left: 0;
  top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 60%);
}
.sec-3 img{
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.sec-3 div{
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
background-color: rgb(15 116 143 / 70%);
padding: 50px 0px 50px 50px;
width: 50%;
color: whitesmoke;
}
.sec-3 div h3{
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: normal;
  
}
.sec-3 ul li{
  list-style: none;
  margin-bottom: 30px;
  font-size: 18px;
}
.sec-3 ul i{
  margin-right: 20px;
}
/* End-sec-3 */

/* Start-sec-4 */
.sec-4{
  margin-bottom: var(--secMargine-margin-bottom);
}
.sec-4 .container{
  text-align: center;
}
.sec-4 .photo ul{
margin-top: 90px;
margin-bottom: 30px;
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}
.sec-4 .photo ul li{
  list-style: none;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 0;
}
.sec-4 .box-imgs{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.sec-4 .box-imgs  div{
  position: relative;
  overflow: hidden;
  flex-basis: 25%;

}
.sec-4 .box-imgs div img{
  max-width: 100%;
  transition: 0.3s;

}
.sec-4 .box-imgs div .caption{
transition: 0.3s;
background-color: white;
position: absolute;
left: 0;
bottom: -100%;
width: 100%;
padding: 20px;
}
.sec-4 .box-imgs div:hover .caption{
  bottom: 0;
}
.sec-4 .box-imgs div:hover img{
  transform: rotate(3deg) scale(1.1);
}
.sec-4 a{
  color: white;
  text-transform: uppercase;
  background-color: var(--main-color);
  padding: 15px;
  display: inline-block;
  margin: 30px auto;
  text-decoration: none;
  position: relative;
  left: 50%;
  
}
/* End-sec-4 */

/* Start-sec-5 */
.sec-5{
  margin-bottom: var(--secMargine-margin-bottom);
  position: relative;
}

.sec-5  img{
  position: relative;
  left: 50%;
  bottom: -120px;
  transform: translateX(-50%);
  margin-top: -150px;
}
.sec-5 .numbers{
  width: 100%;
  background-image: url(imgs/stats.png);
  background-size: cover;
  position: relative;
  text-align: center;
  padding: 100px 0;
}
.sec-5 .numbers::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background-color: rgb(0 0 0 / 70%);
}
.sec-5 .numbers .container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}
.sec-5 .container div{
  background-color: rgb(15 116 143 / 70%);
  padding: 50px;
  color: white;
  flex-basis: 25%;
}
.sec-5 .container div i{
  border: 10px solid black;
  background-color: black;
  border-radius: 50%;
  margin-bottom: 15px;
}
.sec-5 .container div h2{
  font-size: 40px;
  font-weight: 900;
  margin-bottom: 15px;
}
/* End-sec-5 */
/* Start-sec-6 */
.sec-6{
  margin-bottom: var(--secMargine-margin-bottom);
}
.sec-6 .container{
 display: grid;
 grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
 gap: 40px;
}
.sec-6 .container .test div,.skills div{
  display: flex;
  flex-direction: column;
  
}
.sec-6 .test h4,.skills h4{
  text-transform: uppercase;
  margin-bottom: 30px;
  text-align: center;
}
.container .test>p,.skills >p{
margin-bottom: 60px;
color: #777;
text-align: center;
}
.sec-6 .test div .photo{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 50px;
}
.sec-6 .test div .photo div{
  border-bottom: 1px solid #777 ;
  line-height: 1.8; 
}
.sec-6 .test div .photo div span{
  text-align: right;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #777;
}
.sec-6 .test div img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
.sec-6 .test ul{
  display: flex;
  flex-direction: row;
  position: relative;
  left: 50%;
}
.sec-6 .test ul li{
  text-align: center;
  margin-right: 10px;
  border: 1px solid #777;
  border-radius:50% ;
  background-color: white;
  width: 15px;
  height: 15px;
  list-style: none;
}
.sec-6 .content{
  display: flex;
  flex-direction: column;
}
.sec-6 .content span{
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
}
.sec-6 .content ul li {
  width: 100%;
  height: 30px;
  background-color: #dedadc;
  list-style: none;
  margin-bottom: 50px;
  
}
.sec-6 .content ul li span{
  height: 30px;
  background-color: #19c8fa;
  position: relative;
}
.sec-6 .content ul li span::after{
  content: attr(data-progress);
  background-color: black;
  color: white;
  border: 4px solid black;
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  right: -18px;
}
/* End-sec-6 */
/* Start-sec-7 */
.sec-7{
  margin-bottom: var(--secMargine-margin-bottom);
}
.sec-7 .container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  width: 90%;
}
.sec-7 .container .price-divs{
text-align: center;
background-color: #fcfcfc;
}
.price-divs div{
  border-top: 1px solid #19c8fa;
}
.price-divs .price{
  padding: 40px 0px;
}
.price-divs .price h3{
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.price-divs .price span{
  font-size: 50px;
  font-weight: 700;
}
.price-divs .price span::before{
  content: "$";
  position: relative;
  bottom: 30px;
  right:15px ;
  font-size: 20px;
}
.price-divs .price span::after{
  content: "/Mo";
  position: relative;
  top: 10px;
  left:10px ;
  font-weight: 700;
  font-size: 16px;
}
.price-divs .prop p{
  padding: 15px 0;
  margin: auto;
  width: 60%;
}
.price-divs .prop p:not(:first-child){
  border-top: 1px solid #19c8fa;
}
.price-divs .button{
  padding: 25px 0;
}
.price-divs .button button{
  padding: 15px;
  border: 1px solid #19c8fa;
  font-size: 16px;
  font-weight: 100 ;
  background-color: white;
  cursor: pointer;
}
.price-divs .button button:hover{
  background-color: #19c8fa;
  color: white;
  
}
.sec-7 .contact{
  margin-top: 50px;
  text-align: center;
}
.sec-7 .contact p{
  font-size: 20px;
  margin-bottom: 15px;
}
.sec-7 .contact button{
  padding: 15px;
  border: none;
  font-size: 16px;
  font-weight: 100 ;
  background-color: #19c8fa;
  cursor: pointer;
  color: white;
  font-weight: 500;
}
/* End-sec-7 */
/* Start-sec-8 */
.sec-8{
  margin-bottom: var(--secMargine-margin-bottom);
  background-image: url(imgs/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.sec-8::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 50%);
  z-index: 1;
}
.sec-8 .container{
  display: flex;
  flex-direction: row;
  color: white;
  position: relative;
  z-index: 2;
  height: 45vh;
  align-items: center;
}
.sec-8 .container form{
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-basis: 50%;
}
.sec-8 .container form i{
  position: relative;
  left: 35px;
}
.sec-8 .container form .mail{
  border: 1px solid white;
  border-right: none;
  padding: 20px;
  outline: none;
  background-color: black;
  color: white;
  padding-left: 40px;
}
.sec-8 .container  .button{
  padding: 19px;
  border: 1px solid white;
  border-left: none;
  font-size: 15px;
  font-weight: 500 ;
  background-color: #19c8fa;
  cursor: pointer;
  color: white;
  text-transform: uppercase;
}

.sec-8 .container div input::placeholder{
  color: white;
  font-weight: 100;
  font-size: 16px;
  opacity: .8;
}
.sec-8 .container  p{
  margin-left: 50px;
}
/* End-sec-8 */
/* Start-sec-9 */
.sec-9{
  margin-bottom: var(--secMargine-margin-bottom);
}

.sec-9 form{
  display: flex;
  flex-direction: column;
  position: relative;
  width: 90%;
  margin: auto;
}
.sec-9 form input:not(.sec-9 form .button),.sec-9 form textarea{
  outline: none;
  width: 70%;
  padding: 15px;
  margin-bottom: 25px;
  opacity: .5;
  font-size: 18px;
}
.sec-9 form .button{
  padding: 15px;
  width: 150px;
  position: absolute;
  right: 30%;
  top: 100%;
  background-color: #19c8fa;
  border: none;
  color: white;
  cursor: pointer;
}
/* End-sec-9 */
footer{
  background-color: black;
  color: white;
  text-align: center;
}
footer p{
  padding: 25px 0;
  text-transform: uppercase;
  border-bottom: 1px solid white;
  width: 170px;
  margin: auto;
}
footer .social-icons{
  margin-top: 15px;
}
footer i{
  padding-right: 15px;
  padding-bottom: 30px;
}
@media (max-width:800px) {
  .container {
    width: 95%;
  }
  header nav ul{
  display: none;
 flex-direction: column;
 align-items: flex-start;
 width: 100%;
 position: absolute;
 top: 91px;
 left: 0;
 background-color: rgb(0 0 0 / 50%);
 z-index: 3;
  }
  header nav ul li{
    width: inherit;
  }
  header nav ul a{
    display: inline-block;
    padding-left: 10px;
    padding-top: 20px; 
    width: inherit;
  }
  nav #nav-bar{
    display: block;
  }
.container nav:hover ul{
    display: flex;
  }
  .sec-1 .text-show{
    display: none;
  }
  .sec-3 img{
    display: none;
  }
  .sec-3 div{
    width: 100%;
  }
  .sec-4 .box-imgs  div,.sec-5 .container div{
    flex-basis: 100%;
  }
  .sec-5  img{
    width: 100%;
    left: 47%;
  }
  .sec-9 form input:not(.sec-9 form .button),.sec-9 form textarea{
    width: 100%;
  }
  .sec-8 .container{
    width: 95%;
    flex-direction: column;
  }
  .sec-8 .container p{
    width: 100%;
    text-align: left;
  }

}
  @media (max-width:600px) {
  .sec-6  .test div .photo{
    flex-direction: column;
  }
  .sec-6  .test div .photo div{
    border: none;
  }
  .sec-2 .container,.sec-6 .container {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }
  }